<header ng-include src="'modules/home/views/menu.html'"></header>
<div class="blank-slate-pf " id="">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon pficon-add-circle-o"></span>
  </div>
  <h1>
    Lucky you, no actions for {{user}} were found
  </h1>
  <div class="blank-slate-pf-main-action">
    <button class="btn btn-primary btn-lg" ng-click="go('/new')"> Start a case! </button>
  </div>
  <div class="blank-slate-pf-secondary-action">
    <button class="btn btn-default"> Contact administrator </button> 
  </div>
</div>
