<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-success">Nice you have gotten this far {{user}}!</h2>
            </div>
            <div class="modal-body">
                <p>
                <h4 class="text-success">This is as far as the demo app wil take you.<br>
                    Time to start coding yourself now :)</h4>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>